.button-container {
    display: flex;
    justify-content: space-between;
}

.select-button,
.button-container > * {
    width: max-content;
    background-color: #7aa2e3;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    padding: 8px 20px;
}
.select-button {
    padding: 14px 20px;
    font-size: 20px;
    background-color: #6ad4dd;
}
.button-container > *:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: 0.35s;
}
.button-container > *:active {
    transform: translateY(2px);
    transition-duration: 0.35s;
}
